h2 {
  text-align: center;
  margin-top: 9%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
}
.upload-files {
  text-align: center;
  margin-top: 3%;
  border: 1px solid #8a7650;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 6%;
  padding-left: 8%;
  margin-left: 25%;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #dbcea5;
  box-shadow: 10px 10px #2a1700;
  input[type='file'] {
    display: none;
  }
  .choose-file {
    cursor: grab;
    margin-left: 20%;
    transition: transform 0.1s ease;
    display: flex; /* or inline-flex depending on context */
    align-items: center; /* This vertically centers the items */
    /* Optional: add a gap for spacing */
    gap: 8px; /* Adjust as needed */
    width: fit-content;
    &:hover {
      font-weight: 500;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  .uploaded-files {
    margin-top: 7%;
    li {
      position: relative;
      font-weight: 100;
      font-size: 15px;
      background-color: #2a1700;
      color: #ece7d1;
      margin-top: 1%;
      width: 60%;
      margin-left: 13%;
      border-radius: 2px;
    }
  }

  button {
    position: relative;
    top: 20px;
    border: 1px solid #8a7650;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-right: 30%;
    box-shadow: 5px 5px #2a1700;
    background-color: #8a7650;
    font-weight: 400;
    font-size: 20px;
    &:active {
      background-color: #6f5626;
    }
    &:hover {
      font-weight: 500;
    }
  }
  // button:hover {
  //   background-color: #6f5626;
  // }
}
// .upload-container {
//   display: flex;
//   h2 {
//     text-align: center;
//   }
//   // justify-content: space-around;
//   // justify-content: center; /* Horizontally center */

//   max-width: 60%;
//   height: 600px;
//   margin: 7% auto;
//   padding: 20px;
//   border-radius: 10px;
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//   background-color: #fff;
//   text-align: center;
//   .uploaded-files,
//   .upload-files {
//     /* Optional: basic styling to visualize the divs */
//     margin-top: 9%;
//     // margin-left: 10%;
//     place-items: center;
//     width: 50%;
//     padding: 20px;
//     height: 80%;
//     border: 1px dashed rgb(169, 104, 25);
//     box-sizing: border-box; /* Ensures padding/border are included in the 50% width */
//   }
//   .upload-file {
//     margin-left: 10%;
//   }
// }

// input[type='file'] {
//   margin: 15px 0;
// }

// button {
//   margin-top: 10px;
//   padding: 8px 20px;
//   border: none;
//   border-radius: 6px;
//   background-color: #1e88e5;
//   color: white;
//   font-weight: bold;
//   cursor: pointer;
// }

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
